#coustomer_review_area{
  width: 100%;
  overflow: hidden;
  padding: 70px 0px;
  background-color: #000;
  color: $whColor;
  .inner_coustomer_review_area{
    h2{
      font-size: 30px;
      text-align: center;
      font-weight: 700;
      color: $pColor;
    }
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      margin-top: 70px;
      li{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 10px;
        .icon{
          font-size: 30px;
          color: $pColor;
        }
        .txt_box{
          .title{
            font-size: 28px;
            font-weight: 700;
            display: block;
          }
          .sub_title{
            font-size: 13px;
            margin-top: 10px;
            display: block;
            font-weight: 500;
          }
        }
      }
    }
  }
}